

**/bin
**/obj
**/.vs
**/packages

/Releases/DesignDBRepo-2.1.101-full.nupkg
/DesignDBRepo.2.1.101.nupkg
/Releases/DesignDBRepo-2.1.101-delta.nupkg
/DesignDB_UI/obj/Debug/DesignDB_UI.exe.manifest
/DesignDB_UI/obj/Debug/DesignDB_UI.csproj.AssemblyReference.cache
/.vs/DesignDB_Library/v17/.suo
*.pfx
/Releases/Setup.msi
/Releases/Setup.exe
/Releases/RELEASES
/Releases/DesignDBRepo-2.1.114-full.nupkg
/Releases/DesignDBRepo-2.1.114-delta.nupkg
/D*.nupkg
/DesignDB_Library/DesignDB_Library.csproj
/DesignDB_Library/obj/Debug/DesignDB_Library.csproj.AssemblyReference.cache
/DesignDB_Library/obj/Debug/DesignDB_Library.csproj.AssemblyReference.cache
*.nupkg
/DesignDB_Library/obj/Debug/DesignDB_Library.csproj.AssemblyReference.cache
/DesignDB_Library/obj/Debug/DesignDB_Library.csproj.AssemblyReference.cache
/DesignDB_UI
