<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Sandbox" connectionString="Data Source=S011DDB0003;Database=AT_Sandbox;Persist Security Info=True;User ID=support_eng; Password=Dpr0cEng#;" providerName="System.Data.SqlClient" />
    <add name="Live" connectionString="Data Source=S011DDB0003;Initial Catalog=AT_Live;Persist Security Info=True;User ID=support_eng;Password=AccessB#" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>